/* Imports */

@import "../../index.css";

/*Subpage ProductListBows mobile breadcrumbs*/

.subpageMobileBows__breadcrumbs {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 20px;
}

.subpageMobileBows__breadcrumbsProduct {
  width: 100%;
  padding: 10px 0;
}

.subpageMobileBows__breadcrumbsProductList {
  text-decoration: none;
  color: var(--primary-color);
}

.subpageMobileBows__breadcrumbsProductListItem {
  display: inline;
}

.subpageMobileBows__breadcrumbsProductListItem::before {
  content: "|";
  padding: 1px;
  color: var(--primary-color);
}

.subpageMobileBows__breadcrumbsProductList:last-child {
  font-weight: bolder;
}

/* Main mobile slider */

.mainMobileSlider {
  position: relative;
  display: flex;
  overflow: hidden;
}

.mainMobileSlider__container {
  display: none;
  justify-content: center;
  margin: 20px 20px 0;
  overflow: hidden;
  position: relative;
  min-width: calc(100% - 40px);
}

.mainMobileSlider__container--active {
  display: flex;
}

.mainMobileSlider__photo {
  width: 100%;
}

.mainMobileSlider__arrow {
  width: 15%;
  background-color: var(--quaternary-color);
  height: 40%;
  position: absolute;
  opacity: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 30%;
  border: none;
}

.mainMobileSlider__arrow--left {
  left: 20px;
}

.mainMobileSlider__arrow--right {
  right: 20px;
}

.mainMobileSlider__arrow:hover {
  color: var(--quaternary-color);
}

.mainMobileSlider__arrow:hover {
  background-color: var(--primary-color);
}

/* Subpage ProductCard mobile product*/

.subpageMobileProductCard__productTitle {
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px;
}

.subpageMobileProductCard__productText {
  font-family: var(--main-font);
  color: var(--secondary-font-color);
  font-size: 20px;
  padding: 20px 0 10px;
}

.subpageMobileProductCard__productPrice {
  font-family: var(--main-font);
  color: var(--primary-color);
  font-size: 22px;
}

.subpageMobileProductCard__category {
  padding: 0 20px;
}

.subpageMobileProductCard__categoryText {
  text-decoration: none;
  color: var(--secondary-color);
}

.subpageMobileProductCard__categoryShortDesc {
  font-family: var(--main-font);
  padding: 20px;
}

.subpageMobileProductCard__categoryShortDescText {
  font-size: 14px;
  padding: 5px;
}

/* Subpage ProductCard mobile headings*/

.subpageMobileProductCard__headings {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.subpageMobileProductCard__headingsContainer {
  border-bottom: 0.1px solid var(--secondary-font-color);
  padding: 10px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.subpageMobileProductCard__headingsName {
  font-family: var(--main-font);
  color: var(--primary-color);
}

/* Subpage ProductCard mobile product descrption*/

.subpageMobileProductCard__productDescriptionContainer {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.subpageMobileProductCard__productDescriptionText {
  font-family: var(--main-font);
  color: var(--font-color);
  padding: 10px;
}

/* Subpage Mobile Product Card product recommended headings */

.subpageMobileProductCard__RecommendedHeadingsContainer {
  width: 100%;
}

.subpageMobileProductCard__RecommendedHeadingsTitle {
  border-bottom: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 10px 20px;
  width: 40%;
  font-size: 16px;
}

.subpageMobileProductCard__RecommendedHeadingsText {
  width: 40%;
}

.subpageMobileProductCard__RecommendedHeadingsLighter {
  font-weight: lighter;
}

/* Subpage ProductCard mobile products recommended*/

.subpageMobileProductCard__productsRecommended {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.subpageMobileProductCard__productTitle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 0 20px;
}

.subpageMobileProductCard__productText {
  font-family: var(--main-font);
  color: var(--secondary-font-color);
  font-size: 20px;
  padding: 20px 0 10px;
}

.subpageMobileProductCard__productPrice {
  font-family: var(--main-font);
  color: var(--primary-color);
  font-size: 16px;
}
