/* Global variables */

:root {
  --main-background: #f2f2f2;
  --primary-color: #af91d9;
  --secondary-color: #d3bdf2;
  --tertiary-color: #ded0f2;
  --quaternary-color: #f6f0ff;
  --font-color: #383d3d;

  --main-font: "Noto Serif", serif;
  --secondary-font: "Niconne", cursive;
}

/* Clearfix */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

body {
  background: var(--main-background);
}

/* Header */

.mainHeader {
  height: 60px;
  width: 100%;
  background: var(--quaternary-color);
  border-bottom: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  font-family: var(--main-font);
  position: fixed;
}

.mainHeader__logoText {
  font-size: 26px;
  font-weight: 600;
  text-decoration: none;
  color: var(--primary-color);
  font-family: var(--secondary-font);
}

.mainHeader__menu {
  list-style-type: none;
  height: 100%;
  font-size: 40px;
  line-height: 59px;
  text-align: end;
  color: var(--primary-color);
}

.mainHeader__menu:hover .mainHeader__menuElement {
  cursor: pointer;
  display: block;
}

.mainHeader__menuHamburgerIcon {
  padding: 0 20px;
}

.mainHeader__menuHamburgerIcon:hover {
  cursor: pointer;
}

.mainHeader__menuElement {
  background: var(--quaternary-color);
  -webkit-animation: fadeInRight cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fadeInRight cubic-bezier(0.39, 0.575, 0.565, 1) both;
  font-size: 16px;
  line-height: 40px;
  padding: 0 20px;
  width: 200px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-top: none;
  border-right: none;
  display: none;
}

.mainHeader__menuElement:hover {
  color: var(--quaternary-color);
  background: var(--primary-color);
  cursor: pointer;
  font-weight: 600;
}

.mainHeader__menuElement:nth-of-type(1) {
  animation-duration: 0.5s;
}

.mainHeader__menuElement:nth-of-type(2) {
  animation-duration: 0.65s;
}

.mainHeader__menuElement:nth-of-type(3) {
  animation-duration: 0.8s;
}

.mainHeader__menuElement:nth-of-type(4) {
  animation-duration: 0.95s;
}

.mainHeader__menuElement:nth-of-type(5) {
  animation-duration: 1.1s;
}

/* Main logo */

.mainLogo,
.mainPremiumList {
  width: 100%;
  overflow: hidden;
}

.mainLogo__container,
.mainPremiumList__container {
  display: flex;
  justify-content: center;
}

.mainLogo__container {
  margin: 60px 0 20px;
}

.mainLogo__logo,
.mainPremiumList__promotion {
  max-width: 100%;
}

.mainLogo__logo {
  max-height: 300px;
}

/* Premium list */

.mainPremiumList {
  display: flex;
  flex-direction: column;
}

.mainPremiumList__promotion {
  cursor: pointer;
}

/* Main mobile footer */

.mainMobile__footer {
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  margin: 20px;
}

.mainMobileFooter__logo {
  padding: 20px 0 20px 0;
}

.mainMobileFooter__contactFacebook,
.mainMobileFooter__contactInstagram {
  color: grey;
  text-decoration: none;
}

.mainMobileFooter__copyrights {
  color: grey;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mainMobileFooter__copyrightsName {
  font-weight: bolder;
  color: var(--primary-color);
  display: flex;
  padding: 0px 10px;
  font-family: var(--secondary-font);
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
}

.mainMobileFooter__copyrightsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.mainMobileFooter__menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.mainMobileFooter__menuList {
  color: var(--quaternary-color);
  text-decoration: none;
  padding: 5px 10px;
}

.mainMobileFooter__copyrightsName:hover {
  color: var(--quaternary-color);
}

.mainMobileFooter__menuList:hover {
  color: var(--primary-color);
}

.mainMobileFooter__contactFacebook:hover,
.mainMobileFooter__contactInstagram:hover,
.mainMobileFooter__menuList:hover {
  font-weight: bolder;
}

/* Animations */

@-webkit-keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
